name: Sync to Hugging Face Spaces

on:
  push:
    branches: [main]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to HF Spaces
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "deploy@github.com"
          git config --global user.name "GitHub Actions"
          git remote add hf https://yourHFusername:$HF_TOKEN@huggingface.co/spaces/yourHFusername/gnome-materials-agent
          git push hf main --force
